#custom-input:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1, 1.1);
  transition: all 800ms;
}

.column-div {
  overflow-x: hidden;
  overflow-y: auto;
}

#date-format {
  font-size: small;
  padding-top: 6px;
}

/* #task-name-sedebar {
  overflow-x: hidden;
  overflow-y: auto;
}

.task-description-sedebar {
  overflow-x: hidden;
  overflow-y: auto;
} */
