#custom-input:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1, 1.1);
  transition: all 800ms;
}

.column-div {
  overflow-x: hidden;
  overflow-y: auto;
}

#task-name-task-desktop {
  font-size: medium;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: underline;
}

#date-format {
  font-size: small;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 0px;
}

#priority-format {
  font-size: small;
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

.text-high {
  color: #b22222;
}

.text-medium {
  color: #ff8c00;
}

.text-low {
  color: #228b22;
}

/* #task-name-sedebar {
  overflow-x: hidden;
  overflow-y: auto;
}

.task-description-sedebar {
  overflow-x: hidden;
  overflow-y: auto;
} */
