.users-initials{
    height: 50px;
    width: 50px;
   border: 2px solid ;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   border-Color: rgb(133, 64, 245);
   color: rgb(95, 40, 245);
   background-color: white;
   
   
}
.users-initials:hover{
    box-Shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
}